/consoles
/extensions
/jdbc-drivers

/options/javaeeAppServers.xml
/options/jdk.table.xml
/options/markdown.xml
/options/options.xml
/options/path.macros.xml
/options/proxy.settings.pwd
/options/recentProjects.xml
/options/security.xml

/plugins
/tasks
disabled_plugins.txt
port
port.lock 


